// fix me and save me as config.scala

object config {

  val token = "your token"

  val room_id = "your room id"

  val search_pattern = "@jirafe"

  val twitter_check_interval = 60 // time in second between two checks
                                  // beware of twitter search api rate limit

  val hipchat_from = "Jirafe on twitter"
}
